<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    Dân ta sử ta
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="/css/bootstrap_question.css" rel="stylesheet">
  <script src="/js/bootstrap_question.js"></script>
  <script src="/js/jquery_question.js"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <br/>
      <center>
        <div class="panel panel-primary" style="max-width: 70%;">
          <div class="panel-heading">
            <div style="background-color: #f5f5f5;margin: 5px; padding: 5px; border-radius: 4px;"><h3 style="text-align: center; color: black"><%- question.questionID.questionName %></h3></div>
            <pre><h4><div id="timer"></div></h4></pre>
          </div>
          <!--.panel-heading-->
  
          <div class="panel-body">
            <h4>Your Answer</h4>
          </div>
          <div class="panel-footer" style="text-align: left">
            <div class="row">
              <form method="POST" action="/question/<%- id %>">
                <div class="funkyradio">
                  <% question.questionID.answers.map((item, index) => { %>
                    <% if (index == 0) { %>
                      <div class="funkyradio-primary">
                        <input type="radio" name="radio" id="radio<%- index %>" value="<%- item.answerName %>" checked/>
                        <label for="radio<%- index %>"><%- item.answerName %></label>
                      </div>
                    <% } else { %>
                      <div class="funkyradio-primary">
                          <input type="radio" name="radio" id="radio<%- index %>" value="<%- item.answerName %>"/>
                          <label for="radio<%- index %>"><%- item.answerName %></label>
                        </div>
                    <% } %>
                  <% }) %>
                  <button type="submit" name="questionID" value="<%- questionID %>" class="btn btn-primary">Câu hỏi tiếp theo</button>
                  <div class="form-group">
                  </div>
                </div>
              </form>
  
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>

  <script>
    // Thiết lập thời gian đích mà ta sẽ đếm   
    var time = new Date('<%- timer %>').getTime();
    // cập nhập thời gian sau mỗi 1 giây
    var x = setInterval(function() {
      // Lấy thời gian hiện tại
      
      // Lấy số thời gian chênh lệch
      var distance = time; - new Date().getTime();
      // document.getElementById('timer').innerHTML = countDownDate;
   
      // Tính toán số ngày, giờ, phút, giây từ thời gian chênh lệch
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
   
      // HIển thị chuỗi thời gian trong thẻ p
      document.getElementById("timer").innerHTML = "Còn lại: " + minutes + " Phút " + seconds + " Giây ";
   
      // Nếu thời gian kết thúc, hiển thị chuỗi thông báo
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "Hết thời gian làm bài";
        alert("Hết thời gian làm bài!")
      }
    }, 1000);
  </script>
</body>

</html>