<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    Dân ta sử ta
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="/css/bootstrap_question.css" rel="stylesheet">
  <script src="/js/bootstrap_question.js"></script>
  <script src="/js/jquery_question.js"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <br/>
      <center>
        <div class="panel panel-primary" style="max-width: 70%;">
          <div class="panel-heading">
            <pre><h3><%- question.questionID.questionName %></h3></pre>
          </div>
          <!--.panel-heading-->
  
          <div class="panel-body">
            <h4>Your Answer</h4>
          </div>
          <div class="panel-footer" style="text-align: left">
            <div class="row">
              <form method="POST" action="question/<%- id %>">
                <div class="funkyradio">
                  <% question.questionID.answers.map((item, index) => { %>
                    <div class="funkyradio-primary">
                      <input type="radio" name="radio" id="radio<%- index %>" value="<%- item.answerName %>"/>
                      <label for="radio<%- index %>"><%- item.answerName %></label>
                    </div>
                  <% }) %>
                  <button type="submit" name="questionID" value="<%- questionID %>" class="btn btn-primary">Câu hỏi tiếp theo</button>
                  <div class="form-group">
                  </div>
                </div>
              </form>
  
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
</body>

</html>